@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* border top/bottom for title? miimic newspaper?*/
body {
	color: black;
	font-family: 'Gelasio', serif;
	line-height: 1.8;
	font-size: 20px;
	margin-left: 7.5em;
	font-weight:400;
}
h1 {
	font-weight: 700;
	font-size: 112px;
	line-height: 2;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
h2 {
	font-weight: 700;
	font-size: 64px;
	line-height: 2;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}
p:not(.toplink,.author) {
	line-height: 1.6;
	max-width: 60ch;
	padding-bottom: 1.5em;
}
strong {
	font-weight: 700;
}
em {
	font-style: italic;
}
ul {
	font-weight: 400;
	list-style-type: none;
	list-style-position: inside;
	margin-left: 2em;
}
ul li::before{
	content: "\1405 \020"
}
ul + p {
	padding-top: 1em;
}
footer {
	text-align: right;
	font-size: 20px;
	margin-bottom: 1em;
	margin-right: 1em;
}
a {
	text-decoration: underline;
	color: white;
	background-color: #e65527;
	padding: 10px;
	border-radius: 10px;

}
a:link {
	background-color: #e65527;
}
a:active {
	background-color: #e65527;
}
a:visited {
	background-color: #e65527;
}
a:hover {
	background-color: #f3c25f;
}
.author {
	font-size: 32px;
	font-weight: 700;
	padding-bottom: 1em;
}
.pullquote {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.6;
	padding-left: 15em;
	padding-right: 6em;
	max-width: 75vw;
}
.lastline1 {
	margin-left: 5em;
}
.lastline2 {
	margin-left: 15em;
}
.lastline3 {
	margin-left: 23em;
}
/* how to format last line of article text similarly to in original? alignment? 
replace percentage since relative to nearest ancestor*/